.default {
	width: 100%;
	height: 30px;
	background-color: #dbdbdb;
	border: none;
	border-radius: 10px;
}

.error {
	width: 100%;
	height: 30px;
	border: none;
	border: #b82727 solid 2px;
	background-color: #dbdbdb;
	border-radius: 10px;
}

.errorIcon {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.inputWrapper {
	position: relative;
}

.errorText {
	color: #b82727;
}

.checked {
	width: 100%;
	border: none;
	border: #48a142 solid 2px;
}

.errorWrapper {
	height: 20px;
}

@media screen and (min-width: 768px) {
	.default {
		width: 400px;
		height: 30px;
		background-color: #dbdbdb;
		border: none;
		border-radius: 10px;
	}
	.error {
		width: 400px;
		height: 30px;
		background-color: #dbdbdb;
		border-color: #b82727;
		border-radius: 10px;
	}
	.inputWrapper {
		width: min-content;
	}
}
