.offer {
	background-color: #f55742;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 0 0 0px 20px;
	cursor: pointer;
}
.form {
	border: none;
	border-bottom: solid 2px #f55742;
}

.submit {
	border: none;
	border-bottom: solid 2px #f55742;
	font-size: 30px;
	background-color: none;
}
