.offerWrapper {
	display: flex;
	flex-direction: row;
	color: #125973;
	background-color: #f8f3c0;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 90vw;

	padding: 10px;
}

.img {
	height: 100px;
}

.delete {
	margin-right: 20px;
	display: flex;
	align-items: center;
}

.wrapper {
	display: flex;
	border-bottom: 3px solid #125973;
	justify-content: space-between;
}
