* {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: row;
}
body {
	background-color: #fcfcfc;
}

.box {
	margin: 70px 20px;
}

.link {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.link a {
	color: #000000;
	text-decoration-color: #f28050;
	font-size: 20px;
}

@media screen and (min-width: 768px) {
	.box {
		margin-top: 100px;
	}
}
